.title {
  width: 200px;
}

.create-video {
  background-color: #ff4500;
  color: white;
  font-size: large;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 310px;
}

.video-title {
  font-size: large;
  text-decoration: underline;
  font-weight: 700;
  color: black;
  font-size: 25px;
}

.listen-button {
  margin-top: 0px;
  background-color: black;
  font-size: large;
  width: 150px;
  font-size: 25px;
}

.script-input {
  margin-top: 30px;
}

.header-buttons {
  margin-top: 50px;
}

.actor-list {
  margin: 0px auto;
}